@model TagRegisterViewModel
@{
    ViewData["Title"] = "Register a new Tag";
}


<section class="tag-form">
    <div class="container">
        <div class="title">@ViewData["Title"]</div>

        <form method="post" id="tagForm">

            <div asp-validation-summary="ModelOnly" class="form-group error"></div>

            <div class="tagname form-group">
                <label asp-for="TagName"></label>
                <input asp-for="TagName" />
                <span asp-validation-for="TagName" class="error"></span>
            </div>

            <button class="btn-theme">CREATE</button>
        </form>
        @if (Model.Tags.Count > 0)
        {
            <div class="mt-4 mb-3">
                <h4 class="fw-bold">Existing Tags:</h4>
            </div>
            <div class="row">
                @foreach (var tagName in Model.Tags)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body d-flex justify-content-between">
                                <h5 class="card-title">@tagName</h5>
                                <form method="post" asp-action="Delete" asp-route-tagName="@tagName">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="mt-4 mb-3">
                <h4 class="fw-bold">No Tags Exist Yet</h4>
            </div>
        }
    </div>
</section>
