
@model ContactViewModel
@{
    ViewData["Title"] = "Contact Us";
}

<section class="contact-form">
    <div class="container">
        <div class="title">@ViewData["Title"]</div>

        <form method="post" action="/Contact/CommentSubmitted" novalidate>

            <div asp-validation-summary="ModelOnly" class="form-group error"></div>
            <div class="name form-group">
                <label asp-for="Name">Your Name*</label>
                <input asp-for="Name" required />
                <span asp-validation-for="Name" class="error"></span>
            </div>
            <div class="email form-group">
                <label asp-for="Email">Your Email*</label>
                <input asp-for="Email" required />
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="PhoneNumber">Phone Number (optional)</label>
                <input asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="error"></span>
            </div>
            <div class="companyName form-group">
                <label asp-for="CompanyName">Company (optional)</label>
                <input asp-for="CompanyName" />
                <span asp-validation-for="CompanyName" class="error"></span>
            </div>
            <div class="message form-group">
                <label asp-for="CommentText">Comment*</label>
                <textarea asp-for="CommentText" required></textarea>
                <span asp-validation-for="CommentText" class="error"></span>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                    <span class="checkmark"></span>
                </label>
                <span asp-validation-for="RememberMe" class="error"></span>
            </div>
            <button class="btn-theme">Submit</button>
        </form>
    </div>
</section>
