@model TagRegisterViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
}


<div class="container">
    <p>@User.FindFirst("DisplayName")?.Value / Admin Dashboard</p>

    <h2>@ViewData["Title"]</h2>
    @if (Model.Tags.Count == 0)
    {
        <h5>Welcome! To get started create som new tags in the Tag Manager!</h5>
    }
    <div class="menu">
        <ul>
            <li>
                <a asp-action="users" asp-controller="admin">Manage Users</a>
            </li>
            <li>
                <a asp-action="Add" asp-controller="products" class="link">Create Product</a>
            </li>
            <li>
                <a asp-action="comments" asp-controller="admin">Read Comments</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="registertag">Tag Manager</a>
            </li>
        </ul>
    </div>
</div>

<style>
    .menu {
        display: flex;
        justify-content: center;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    .menu li {
        text-align: center;
        margin: 20px;
    }

    .menu a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding: 8px 25px;
        background-color: lightgray;
        border-radius: 5px;
    }
    h2{
        margin: 20px;
        text-align: center;
    }
    .menu a:hover{
        background-color: darkgray;
    }

</style>