<header>
    <div class="container">
        <div class="logo"><img src="images/logo.svg" alt="">bmerketo</div>
        <nav id="menu" class="menu-links">
            <a asp-controller="Home" asp-action="Index" class="link">HOME</a>
            <a asp-controller="Products" asp-action="Index" class="link">PRODUCTS</a>
            <a asp-controller="Contacts" asp-action="Index" class="link">CONTACT</a>
        </nav>
        <nav class="menu-icons">
            <a asp-controller="Search" asp-action="Index" class="link"><i class="fa-regular fa-search"></i></a>
            <a asp-controller="Login" asp-action="Index" class="link">Login</a>
            <a asp-controller="Register" asp-action="Index" class="link">Register</a>
            <a asp-controller="Cart" asp-action="Index" class="link"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>