@{
    ViewData["Title"] = "Comment Submitted";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h2>Thank you for your comment!</h2>
            <p>We probably won't get back to you but appreciate the effort.</p>
            <a class="btn btn-primary" asp-controller="Products" asp-action="Index">Check out our products!</a>
        </div>
    </div>
</div>